# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Keys class
/lib/src/main/java/writesmith/keys/Keys.java

# Ignore Out directory
/lib/out/

# Ignore testing keystore
/chitchatserver.com.jks